# Environment Variables
.env

# SQLite Database
chatbot.db

# Python Cache
__pycache__/
*.pyc

# Virtual Environment
venv/
.venv/
env/

# VS Code
.vscode/

# Streamlit Secrets
.streamlit/secrets.toml